.reserved_key1{
   		color:green;
	      }
.reserved_key2{
    		color:goldenrod;
	      }
.reserved_key3{
  		color:purple;
    }
.comment{
    		color:blue;
        }
.preprocess_dir{
    		color:rgb(148, 8, 148);
	       }
.header_file{
    		color:red;
	    }
.string{
    	 	color:magenta;
       }
.numeric_constant{
    		 color:brown;
	        }
.ascii_char{
    		 color:firebrick;
	        }

